

.btn-client{
   height: 50px;
   width: 90px;
   text-align: center;
}

.card-clent{
    width: 100%;
}

.margin-client{
    margin-top: 50px;
}

.delete-client{
position: relative;
    top: -50px;
    left: 245px;
}


.content-client{
    height: 800px;
}

select {
    display: inline-block!important;
}